.w-dialog {
  min-width: 400px;
  margin: 15vh auto 0;
  background-color: #fff;
  border-radius: 2px;
  &__header {
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--text-black);
    padding: 0 20px;
  }
  &__title {
    font-size: 18px;
  }
  &__content {
    padding: 10px 20px;
  }
  &__footer {
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--text-black);
    padding: 0 20px;
    justify-content: flex-end;
  }
}