body {
  margin: 0;
  --color-primary: #409eff;
  --color-primary-light-9: #ecf5ff;
  --color-danger: #f56c6c;
  --color-danger-light-9: #fef0f0;
  --text-black: #606266;
  --text-white: #fff;
  --border-color: #dcdfe6;
  --bg-color: #fff;
  --font-size: 14px;
}
